---
import { getCollection } from "astro:content"
import ArticlePageRoot from "@/layout/ArticlePageRoot.astro"
import ColorTag from "@/components/tag/ColorTag.astro"
import Breadcrumb from "@/components/article/Breadcrumb.astro"
import { Heading, Hr, Li } from "flowbite-svelte"
import UList from "@/components/content/UList.astro"
import Heading2 from "@/components/content/Heading2.astro"
import Heading3 from "@/components/content/Heading3.astro"
import Heading4 from "@/components/content/Heading4.astro"
import Heading5 from "@/components/content/Heading5.astro"
import Toc from "@/components/article/Toc.astro"

export async function getStaticPaths() {
  const entries = await getCollection("topic")
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { data } = entry
const { Content, headings } = await entry.render()

const { category } = data
---

<ArticlePageRoot>
  <main class="max-w-screen-md mx-auto">
    <Breadcrumb />
    <article>
      <Heading tag="h1" class="mb-10 mt-14 font-normal">{data.title}</Heading>
      <table>
        <tr>
          <th class="flex mr-6 whitespace-nowrap font-normal">カテゴリー</th>
          <td>
            <ColorTag {...category} />
          </td>
        </tr>
      </table>
      <Hr />
      <Toc headings={headings} />
      <div class="_content">
        <Content
          components={{ ul: UList, li: Li, h2: Heading2, h3: Heading3, h4: Heading4, h5: Heading5 }}
        />
      </div>
    </article>
  </main>
</ArticlePageRoot>
