---
interface Props {
  label: string
  color: string
}

const { label, color } = Astro.props
---

<span class="tag">{label}</span>

<style define:vars={{ "tag-color": color }}>
  .tag {
    display: inline-block;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    line-height: 1.2;
    background: var(--tag-color);
    margin: 0;
    white-space: nowrap;
  }
</style>
