---
import { getCollection } from "astro:content"
import RootDocument from "../../layout/RootDocument.astro"
import UList from "../../components/content/UList.astro"
import FunctionTag from "@/components/tag/FunctionTag.astro"
import ColorTag from "@/components/tag/ColorTag.astro"
import Toc from "@/components/article/Toc.astro"
import { Heading, Li, Hr } from "flowbite-svelte"

export async function getStaticPaths() {
  const blogEntries = await getCollection("questions")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { data } = entry
const { Content, headings } = await entry.render()
---

<RootDocument>
  <article class="max-w-screen-md mx-auto">
    <Heading tag="h1" class="my-10 font-normal">{data.title}</Heading>
    <table>
      <tr>
        <th class="flex mr-6 whitespace-nowrap">使う関数</th>
        <td>
          <ul class="flex flex-wrap gap-y-[6px] gap-x-[8px]">
            {
              data.useFn.map((fn) => (
                <li class="flex">
                  <FunctionTag slug={fn.slug} />
                </li>
              ))
            }
          </ul>
        </td>
      </tr>
      <tr>
        <th class="flex mr-6 whitespace-nowrap">カテゴリー</th>
        <td>
          <ul class="flex flex-wrap gap-y-[6px] gap-x-[8px]">
            {
              data.category.map((cat) => (
                <li>
                  <ColorTag {...cat} />
                </li>
              ))
            }
          </ul>
        </td>
      </tr>
      <tr>
        <th class="flex mr-6 whitespace-nowrap">使えるバージョン</th>
        <td>
          <ul class="flex flex-wrap gap-y-[6px] gap-x-[8px]">
            {
              data.available.map((version) => (
                <li>
                  <ColorTag label={version} color="rgba(227, 226, 224, 0.5)" />
                </li>
              ))
            }
          </ul>
        </td>
      </tr>
    </table>
    <Hr />
    <Toc headings={headings} />
    <div class="_content"><Content components={{ ul: UList, li: Li }} /></div>
  </article>
</RootDocument>

<style>
  ._content :global(h2) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #111827;
  }

  ._content :global(h3) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 400;
    color: #111827;
  }
</style>
