---
import { getCollection } from "astro:content"
import RootDocument from "../../layout/RootDocument.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection("questions")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { data } = entry
const { Content } = await entry.render()
---

<RootDocument>
  <h1>{data.title}</h1>
  <Content />
</RootDocument>
