---
import { getCollection } from "astro:content"
import RootDocument from "../../layout/RootDocument.astro"
import { Heading } from "flowbite-svelte"

const all = await getCollection("questions")
---

<RootDocument>
  <Heading tag="h1">Questions</Heading>
  <ul>
    {
      all.map((q) => (
        <li>
          <a href={`/question/${q.slug}`}>{q.data.title}</a>
        </li>
      ))
    }
  </ul>
</RootDocument>
