---
import { getCollection } from "astro:content"
import PageRoot from "@/layout/PageRoot.astro"
import Breadcrumb from "@/components/article/Breadcrumb.astro"
import { Heading } from "flowbite-svelte"
import { SITE_BASE } from "@/site-config"

const all = await getCollection("questions")
---

<PageRoot>
  <div class="max-w-screen-md mx-auto">
    <Breadcrumb />
    <Heading tag="h1" class="mb-10 mt-14">Questions</Heading>
    <ul>
      {
        all.map((q) => (
          <li>
            <a href={`${SITE_BASE}/question/${q.slug}`}>{q.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</PageRoot>
