---
import { NAV } from "@/site-config"
import SlashIcon from "@/icons/iconamoon/sign-division-slash-thin.astro"

const routes = Astro.url.pathname.split("/").filter(Boolean)
const [base, category] = routes

const current = NAV.find((item) => item.href === `/${base}/${category}`)
const prevItems = [NAV[0], current]
---

<nav>
  <ul class="flex gap-2 text-sm items-center opacity-80">
    {
      prevItems.map((item, i) => (
        <li class="contents">
          <a href={item.href} class="no-underline">
            {item.title}
          </a>
          {i < prevItems.length - 1 && <SlashIcon />}
        </li>
      ))
    }
  </ul>
</nav>
