---
import { type MarkdownHeading } from "astro"

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<nav class="border border-slate-200 p-4">
  <ul>
    {
      headings.map((heading) => (
        <li class="flex" style={`margin-left: ${(heading.depth - 2) * 16}px`}>
          <a
            href={`#${heading.slug}`}
            class="text-sm leading-tight inline-block py-1.5 px-0.5 overflow-hidden text-ellipsis whitespace-nowrap underline-offset-4 decoration-zinc-200 text-neutral-500"
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
