---
import { type MarkdownHeading } from "astro"

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<nav>
  <ul>
    {
      headings.map((heading) => (
        <li class="flex" style={`margin-left: ${(heading.depth - 2) * 24}px`}>
          <a href={`#${heading.slug}`} class="_text">
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ._text {
    padding: 6px 2px;
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(120, 119, 116);
    text-overflow: ellipsis;
    text-decoration: underline;
    text-decoration-color: rgba(55, 53, 47, 0.16);
    text-underline-offset: 3px;
  }
</style>
