<h4>
  <slot />
</h4>

<style>
  h4 {
    @apply my-10 text-xl font-normal inline-block border-b-[3px] border-double border-zinc-200;
    margin-inline-start: calc(-0.5 * var(--body-padding-x));
    padding-inline: calc(0.5 * var(--body-padding-x));
  }
</style>
