<h2>
  <slot />
</h2>

<style>
  h2 {
    @apply py-2 mb-10 mt-20 text-3xl font-normal border-y border-zinc-300;
    margin-inline: calc(-1 * var(--body-padding-x));
    padding-inline: var(--body-padding-x);
  }
</style>
