---
import { type FnArgument } from "../../content/config"
import { getArgColorHues, remapArgs } from "./args"

interface Props {
  name: string
  args: FnArgument[]
  coloring?: boolean
}

const { name, args, coloring = false } = Astro.props

const hues = coloring ? getArgColorHues(args) : []
const { args: showArgs, rest } = remapArgs(args, hues)
---

<code class="siguneture text-lg pb-2">
  <span>{name}</span>
  <span>(</span>
  <div class:list={["arguments", { coloring }]}>
    {
      showArgs.map((arg, i) => (
        <>
          <span class="summary" style={arg.hue ? `--hue: ${arg.hue}` : ""}>
            {arg.summary}
          </span>
          {i < showArgs.length - 1 && <span>,&ensp;</span>}
        </>
      ))
    }
    {rest && <span>,&ensp;...</span>}
  </div>
  <div>)</div>
</code>

<style>
  .siguneture {
    font-family: var(--font-code);
    font-weight: var(--font-weight-code);

    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
  }

  .arguments {
    display: contents;
  }

  .coloring .summary {
    --marker-color: hsl(var(--hue), 100%, 95%);
    background: linear-gradient(rgba(255, 255, 255, 0) 40%, var(--marker-color) 70%);
  }
</style>
