---
import { type FnReturn } from "../../content/config"
import ReturnArrow from "@/icons/fluent/arrow-curve-up-right-20-regular.astro"

interface Props {
  patterns: FnReturn[]
}

const { patterns } = Astro.props
---

<ul class="list-disc px-6 leading-loose">
  {
    patterns.map((pattern) => (
      <li class="pb-2 last:pb-0">
        <div class="py-2 text-sm leading-relaxed">{pattern.if}</div>
        <div class="inline-flex items-baseline gap-2">
          <ReturnArrow svgClass="rotate-90 relative top-1" />
          {pattern.summary}
        </div>
      </li>
    ))
  }
</ul>
