---
import { type FnReturn } from "../../content/config"
import { Table, TableBody, TableBodyCell, TableBodyRow } from "flowbite-svelte"

interface Props {
  patterns: FnReturn[]
}

const { patterns } = Astro.props
---

<Table>
  <TableBody>
    {
      patterns.map((pattern) => (
        <TableBodyRow class="border-none">
          <TableBodyCell class="text-inherit py-2 font-normal">{pattern.if}</TableBodyCell>
          <TableBodyCell class="text-inherit py-2 font-normal">{pattern.summary}</TableBodyCell>
        </TableBodyRow>
      ))
    }
  </TableBody>
</Table>
