---
import StarIcon from "@/icons/system-uicons/star.astro"

interface Props {
  level: number
}

const { level } = Astro.props
---

<div class="flex gap-0.5 w-fit">
  {Array.from({ length: 5 }).map((_, index) => <StarIcon fill={index < level} />)}
</div>
