---
import RootDocument from "../layout/RootDocument.astro"
---

<RootDocument>
  <a href="/question">Questions</a>
  <a href="/fn">Functions</a>
  <a href="playground">PlayGround</a>
</RootDocument>
