---
import RootDocument from "../layout/RootDocument.astro"
import { Heading } from "flowbite-svelte"
---

<RootDocument>
  <div class="max-w-screen-md mx-auto">
    <Heading tag="h1" class="my-10">Pocket Excel Learning</Heading>
    <ul>
      <li><a href="/question">問題集</a></li>
      <li><a href="/fn">Excel関数リファレンス</a></li>
      <li><a href="/sheet">開発中: プレイグラウンド</a></li>
    </ul>
  </div>
</RootDocument>
