---
import PageRoot from "@/layout/PageRoot.astro"
import { Heading } from "flowbite-svelte"
import { SITE_TITLE, NAV } from "@/site-config"

const [_, ..._pages] = NAV
const pages = import.meta.env.DEV ? _pages : _pages.filter((page) => !page.draft)
---

<PageRoot>
  <div class="max-w-screen-md mx-auto">
    <Heading tag="h1" class="my-10">{SITE_TITLE}</Heading>
    <ul>
      {
        pages.map((page) => (
          <li>
            <a href={page.href}>{page.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</PageRoot>
