---
import { getCollection } from "astro:content"
import RootDocument from "../layout/RootDocument.astro"

const allPosts = await getCollection("questions")
---

<RootDocument>
  <h1>Questions</h1>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/questions/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</RootDocument>
