:root {
  --excel__font: "Source Han Code JP", monospace;
  --excel__font-weight: 400;
  --excel__font-size: 0.875rem;

  --excel__cell__border-color: rgb(228, 228, 228);

  --excel__cell__highlight-color: rgb(0, 92, 0);
  --excel__header_cell__highlight-color: #0d9276;
  --excel__header_cell__active-color: #8adab2;

  --excel__header_cell__background-color: rgb(230, 230, 230);
  --excel__header_cell__background-color--highlight: rgb(210, 210, 210);

  --excel__header_cell__border-color: rgb(162, 162, 162);

  --excel__hatching__background-color: rgba(0, 0, 0, 0.2);
}
