:root {
  --excel__font: "Source Han Code JP", monospace;
  --excel__font-weight: 400;
  --excel__font-size: 0.875rem;

  --excel__cell__border-color: rgb(228, 228, 228);
  --excel__header_cell__background-color: rgb(230, 230, 230);
  --excel__header_cell__border-color: rgb(162, 162, 162);
}
