@font-face {
  font-family: "Source Han Code JP";
  src: url("/pocket-excel-learning/fonts/SourceHanCodeJP.ttc") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --font-ja: "Zen Kaku Gothic New";
  --font-en: "Ysabeau Infant";
  --font-content: var(--font-en), var(--font-ja);
  --font-code: "Roboto Mono", "Source Han Code JP";

  --font-weight-content: 400;
  --font-weight-code: 300;
  --font-size-code: 1rem;

  --bg-color: #fff;
  --tx-color: #354259;

  --body-padding-y: 2rem;
}

body {
  margin: 0;
  font-family: var(--font-content);
  font-weight: var(--font-weight-content);

  color: var(--tx-color);
  padding: var(--body-padding-y) 1.5rem;
  background-color: var(--bg-color);
  line-height: 2.5rem;
}

code {
  font-family: var(--font-code);
  font-weight: var(--font-weight-code);
  font-size: var(--font-size-code);
}

a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 1px;
  text-decoration-color: #cbd5e1;
}
