/* background color */

:root {
  --pretty-light-bg: #fafafa;
  --pretty-dark-bg: rgba(40, 42, 54, 1);
}

/* color */

[data-rehype-pretty-code-figure] {
  filter: brightness(1.5);
}
[data-rehype-pretty-code-figure] > :is(pre, code) {
  background-color: var(--pretty-dark-bg);
}

/** block code */

[data-rehype-pretty-code-figure]:has(> pre) {
  margin-block: 1.7em;

  /** for title */
  display: flex;
  flex-direction: column;
}

[data-rehype-pretty-code-figure] > pre {
  padding-block: 0.8em;
  padding-inline: 0;
  margin: 0;
  overflow-x: auto;
  border-radius: 0.3em;
  line-height: 1.7;
}

pre > code > [data-line] {
  padding-inline: 1em;
}

/** inline code */

[data-rehype-pretty-code-figure] > code {
  padding: 0.25em 0.5em;
  border-radius: 0.3em;
}

/** Safari, iOS で上下が見切れる問題への対処 */
span[data-rehype-pretty-code-figure] {
  display: inline-block;
}

/** title */

div[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
}

[data-rehype-pretty-code-title] {
  --pretty-light-title-border: #6e85b7;
  --pretty-dark-title-border: #94b3fd;

  --_pretty-title-border: var(--pretty-light-title-border);

  width: fit-content;

  padding-block: 0;
  padding-inline: 0.7em;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  border-width: 1px;
  border-style: solid;
  border-color: var(--_pretty-title-border);

  position: relative;
  left: -6px;

  color: var(--_pretty-title-border);
  font-weight: bold;
  font-size: clamp(0.6rem, 2.9vw, 0.875rem);
}
[data-rehype-pretty-code-title]::before {
  position: absolute;
  top: calc(100% + 1px);
  left: -1px;
  content: "";
  border: 3px solid transparent;
  border-top: 3px solid var(--_pretty-title-border);
  border-right: 3px solid var(--_pretty-title-border);
}
[data-rehype-pretty-code-title][data-theme="dark"] {
  --_pretty-title-border: var(--pretty-dark-title-border);
}

/** caption */
[data-rehype-pretty-code-caption] {
  font-size: 0.85em;
  line-height: 1.7;
}
