---
import "@/style/global.css"
import "@/style/excel.css"
import "handsontable/dist/handsontable.full.min.css"

import CommonHead from "./head/CommonHead.astro"
import { SITE_TITLE } from "@/site-config"
---

<!doctype html>
<html lang="ja">
  <head>
    <CommonHead />
    <slot name="head">
      <title>{SITE_TITLE}</title>
    </slot>
  </head>
  <body class="overflow-hidden">
    <slot />
  </body>
</html>
